.tab {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: var(--tabbuttonbg);
}


.tab-navigation {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 16px;
    pointer-events: none;
}

.tab-content{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 80%;
    padding: 10px;
    padding-bottom: 0px;
    border-top: none;
    background-color: var(--tabcontentbg);
    color: var(--bordercolor);
    overflow: hidden;
    background-color: #1f1e2e;
    border-radius: 0 0 10px 10px;
}

#tab-button{
    display: flex;
    box-sizing: border-box;
    width: auto;
    height: auto;
    background-color: #27283c;
    color: var(--tabbuttontext);
    font-size: medium;
    border-bottom: 2px solid var(--bordercolor);
    cursor: pointer;
    transition: color 0.3s linear;
    padding: 10px 16px;
    pointer-events: all;
    text-align: center;;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px 5px 0 0 ;
}


.tab-underline {
    box-sizing: border-box;
    height: auto;
    width: 16px;
    border-bottom: 2px solid var(--bordercolor);
}

.tab #tab-button{
    color: red;
}

.tab #tab-button.active {
    box-sizing: border-box;
    background-color: #1f1e2e;
    color: #01F8FB;
    border: 2px solid var(--bordercolor);
    border-bottom: none;
}
