:root {
  --headerbg: #27283c;
  --headertext: #01F8FB;
  --title: #01F8FB;
  --autwrapper: #27283c;
  --textcolor: #01F8FB;
  --tabtext: #27283c;
  --tabbuttonbg: #27283c;
  --tabbuttontext: #01F8FB;
  --tabcontentbg: #27283c;
  --tabhover: #ADD8E6;
  --buttonbg: #27283c;
  --buttoncolor: #27283c;
  --listbg: #1f1e2e;
  --textboxbg: #27283c;
  --textboxtext: #27283c;
  --svgcolor: #27283c;
  --bordercolor: #01f8fb;
}


::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

svg {
  display: inline-block;
}

html{
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', 'Ubuntu', sans-serif;
  border: solid 2px #1f1e2e;
  width: 430px;
  height: 590px;
  background-color: #27283c;
  margin: 0;
  overflow: hidden;
  scrollbar-width: none;
}

p {
  font-size: medium;
}

#root{
  min-height: 100%;
  position: relative;
}

.dashboard {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #27283c;
}

