.dropdown-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.dropdown-menu.show{
  --bs-dropdown-min-width:105px
}

.blacklisted > #dropdown-basic-button{
  color: white;
  background-color: black;
  border: white 1px solid;
}

.whitelisted > #dropdown-basic-button{
  color: black;
  background-color: white;
  border: black 1px solid;
}

.dropdown-toggle{
  height: 34px;
}

.search-box,.shorts-box,.channel-box,.autoLock-box{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-bubble{
  margin-left: 5px;
  color: white;
}

.shorts-indicator, .search-indicator, .channel-indicator, .autoLock-indicator{
  color: red;
  transition-duration: 00.3s;
  transition-property: color;
}

.shorts-indicator.active, .search-indicator.active, .channel-indicator.active, .autoLock-indicator.active{
  color: #01F8FB;
  transition-duration: 00.3s;
  transition-property: color;
}

.checkbox-width-control{
  width: 140px;
}

.toggle-width-control{
  width: 85px;
}

.blacklist-indicator, .whitelist-indicator{
  color: #1f1e2e;
  transition: color 1 linear;
}

.whitelist-indicator.active{
  color: red;
  transition: color 1 linear;
}

.blacklist-indicator.active  {
  color: #01F8FB;
  transition: color 1 linear;

}

.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  box-sizing: border-box;
  border: #1f1e2e 5px solid;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #27283c;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #01F8FB;
}

input:focus + .slider {
  box-shadow: 0 0 1px #01F8FB;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tab-padding{
  width: 100%;
  padding: 10px;
}